@media screen and (max-device-width: 480px) { 
#divMain{ 
float: none; 
width:auto; 
} 
#divSidebar { 
display:none; 
} 
} 
img { max-width: 100%;}
img, object { max-width: 100%;}
img { -ms-interpolation-mode: bicubic; }
.main { float: right; width: 70%; } .leftBar { float: left; width: 25%; } 